SELECT identity_TimeInterval,product_ProductName,product_instanceFamily,product_instanceType,lineItem_UnblendedCost,lineItem_ResourceId as resource 
FROM <CSV FILE>
WHERE (resource LIKE '%<RESOURCE ID%' 
) AND 
identity_TimeInterval LIKE '<yyyy-mm-dd>T<hh:mm:ss>Z%'
